<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Lightning Web Components Recipes</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />


        <meta charset="utf-8" />
        <meta name="author" content="Salesforce Developer Atikur Rabbi" />
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700" /> -->
        <!-- <link src="/assets/styles/salesforce-lightning-design-system.min.css" rel="stylesheet" /> -->
        <!-- <link rel="stylesheet" href="https://lightninglogin.surge.sh/assets/styles/salesforce-lightning-design-system.css"> -->

        <link rel="stylesheet" href="/assets/styles/salesforce-lightning-design-system.min.css">
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <main class="wrapper">
            <div id="main">{{{body}}}</div>
        </main>
        {{{lwr_resources}}}
    </body>
</html>